[submodule "third_party/correct"]
    path = third_party/correct
    url = git@github.com:quiet/libcorrect.git

[submodule "third_party/wirehair"]
    path = third_party/wirehair
    url = git@github.com:catid/wirehair.git

[submodule "third_party/zstd"]
    path = third_party/zstd
    url = git@github.com:facebook/zstd.git